*{
    box-sizing: border-box;
}

body{
    margin:0;
}

ul li {
    list-style: none;
    width: 100px;
}

nav ,
.menu {
    display: flex;
    flex-direction: row;
    
}

nav {
    background-color: rgb(240, 240, 240);
    justify-content: space-between;
    margin: 0;
    padding:0;
    width:100%;
}

.logo{
padding-left: 30px;
}

img{
    display: none;
}


.header{
    background-color: rgba(111, 169, 245, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    height:250px;
}



.main{ 
    width:100%;
    text-align: center;
    margin:0 auto;
    display: flex;
    flex-direction: column;
}


.content{
    display:flex;
    width:1200px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.box{
    box-sizing:
    display:inline-block;
    width:580px;
    height:160px;
    padding-top:10px;
    margin:10px;
    background-color: rgb(120, 134, 146);
}

.call{
    background-color: rgba(141, 221, 245,0.5);
    font-size: 16px;
    width:150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    margin:20px;
}

/* -------------media query--------------- */
@media (max-width:1199px ){ 
    .content{
        width:100%;
    }
    .box{
        width:45%;
    }
}

@media (max-width: 799px ){
    img{
        display: inline;
        padding-right: 20px;
    }

    ul li{
        display: none;
    }
}

@media (max-width: 499px ){
    .content{
        width:100%;
    }
    .box{
        width:100%;
    }
}